body {
  margin: 0; }

.banner {
  cursor: pointer;
  overflow: hidden;
  position: relative; }

.slide {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%; }

.asset {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; }

.banner {
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  -webkit-border-image: url("border.png") 3 repeat;
       -o-border-image: url("border.png") 3 repeat;
          border-image: url("border.png") 3 repeat;
  width: 980px;
  height: 150px; }

.logo {
  background-image: url("logo.png");
  width: 144px;
  height: 82px; }

.slide1 {
  background-image: url("bg1.jpg"); }
  .slide1 .character {
    background-image: url("character.png");
    width: 172px;
    height: 189px;
    top: -20px;
    right: 200px; }
  .slide1 .device {
    background-image: url("device.png");
    width: 160px;
    height: 92px;
    -webkit-animation: deviceAnim 9s infinite normal ease-in-out;
            animation: deviceAnim 9s infinite normal ease-in-out;
    bottom: 0;
    right: 340px; }
  .slide1 .bubble {
    background-image: url("bubble.png");
    width: 365px;
    height: 125px;
    -webkit-animation: bubbleAnim 9s infinite normal ease-in-out;
            animation: bubbleAnim 9s infinite normal ease-in-out;
    top: 10px;
    left: 75px; }
  .slide1 .witness {
    background-image: url("witness.png");
    width: 79px;
    height: 31px;
    top: 10px;
    right: 400px; }
  .slide1 .logo {
    right: 30px;
    top: 35px; }

.slide2 {
  background-image: url("bg2.jpg");
  -webkit-animation: slide2Anim 9s infinite normal ease-in-out;
          animation: slide2Anim 9s infinite normal ease-in-out; }
  .slide2 .title {
    background-image: url("title.png");
    width: 604px;
    height: 34px;
    top: 25px;
    left: 100px; }
  .slide2 .button {
    background-image: url("button.png");
    width: 152px;
    height: 46px;
    -webkit-animation: buttonAnim 9s infinite normal ease-in-out;
            animation: buttonAnim 9s infinite normal ease-in-out;
    top: 75px;
    left: 300px; }
  .slide2 .logo {
    right: 30px;
    top: 35px; }

@-webkit-keyframes bubbleAnim {

  0% {
    opacity: 0; }

  10% {
    opacity: 1; }

  40% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@keyframes bubbleAnim {
  0% {
    opacity: 0; }

  10% {
    opacity: 1; }

  40% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-webkit-keyframes deviceAnim {

  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); }

  10% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%); }

  40% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%); }

  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%); }

  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); } }

@keyframes deviceAnim {
  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); }

  10% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%); }

  40% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%); }

  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%); }

  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); } }

@-webkit-keyframes slide2Anim {

  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  60% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  90% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  99.9% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes slide2Anim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  60% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  90% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  99.9% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@-webkit-keyframes buttonAnim {

  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }

  75% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3); }

  80% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes buttonAnim {
  70% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }

  75% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3); }

  80% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
