@mixin asset($file, $width: false, $height: false) {
	background-image: url("#{$file}");
	@if $width {
		width: $width;
	}
	@if $height {
		height: $height;
	}
}

body {
	margin: 0;
}

.container {
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.slide {
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

.asset {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
}